* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "segment";
    src: url(/font/Segment7-4Gml.otf);
}

#home-score-el, #away-score-el, #home-timeout-el, #away-timeout-el, #quarter-el, #minutes-el, #seconds-el {
    font-family: "segment", sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #1A1D21;

}


/* Home Container Settings */
.home-container {
    font-family: sans-serif;
    color: orange;
}

.home-container h2 {
    font-size: 35px;
    font-weight: bold;
    border: #48484A;
    border-style: dashed;
    margin: 20px;
    padding: 20px;
    width: 350px;
}

.home-container div {
    border: #48484A;
    border-style: dashed;
    margin: 20px;
    padding 20px
    width: 350px;
}

.home-container h3 {
    font-size: 24px;
    color: gray;
}

#home-score-el {
    color: #F29A39;
    font-size: 120px;
    padding: 0;
}

#home-timeout-el {
    color: #F29A39;
    font-size: 72px;
}


/* ----------------------------- */

/* Away Container Settings */
.away-container {
    font-family: sans-serif;
    color: teal;
}

.away-container h2 {
    font-size: 35px;
    font-weight: bold;
    border: #48484A;
    border-style: dashed;
    margin: 20px;
    padding: 20px;
    width: 350px;
}

.away-container div {
    border: #48484A;
    border-style: dashed;
    margin: 20px;
    padding 20px
    width: 350px;
}


.away-container h3 {
    font-size: 24px;
    color: gray;
}

#away-score-el {
    color: #3eb489;
    font-size: 120px;
    padding: 0;
}

#away-timeout-el {
    color: #3eb489;
    font-size: 72px;
}

/* ----------------------------- */


/* Timer Container Settings */

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between-container {
    color: #FF3B30;
}

.between-container > div {
    border: #48484A;
    border-style: dashed;
    margin: 20px;
    padding: 20px;
    width: 350px;
}


.between-container h3{font-size: 24px;}
#minutes-el {font-size: 120px;}
.timer-container p {font-size: 120px;}
#seconds-el {font-size: 120px;}
#quarter-el {font-size: 72px;}

.between-container h3 {
    font-family: sans-serif;
}

/* ----------------------------- */

/* Button Settings */

button {
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #88928f;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

